imageio
jupyterlab==3.5.0
matplotlib
numpy==%NUMPY_VERSION%
pandas
pillow>=8.3.2
pyvips
scikit-image
scikit-learn
scipy
torch==%PYTORCH_VERSION%
torchvision==%TORCHVISION_VERSION%
torchinfo
tqdm
opencv-python
openslide-python
timm
tiffslide
PyYAML
h5py
